<div class="container">
  <div class="card mx-auto" style="width: 500px;">
    <div class="card-body">
      <div class="alert alert-success">
        Email: admin@admin.com <br />
        password: 123456
      </div>
      <form [formGroup]="userForm" (ngSubmit)="login()">
        <div *ngIf="response" class="alert alert-danger">{{ response }}</div>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Email"
        />
        <br />
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
        <br />
        <button class="btn btn-primary btn-block login-button" type="submit">
          login
        </button>
        <div class="register float-right">
          <a routerLink="/user/register">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
